h1 {
    color: green;
    text-align: center;
}
p{
    color: blue;
    font-size: 18px;
}
button {
    background-color: yellow;
    color: black;
    border: 2px solid black;
    border-radius: 16px;
}